.navbar {
    overflow: hidden;
    background-color: #333; /* Background color of the navbar */
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd; /* Background color on hover */
    color: black;
}
